body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.signup-container {
  background: linear-gradient(to right, #5060FF, #8A94FF);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.username-field {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.username-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.check-button {
  padding: 10px;
  background-color: #5060FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #5060FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.label {
  text-align: left;
  width: 100%;
  color: white;
  font-size: 14px;
  margin: 5px 0 0;
}
